body {
  margin: 0;
  padding: 0;
  font-family: "Lobster", cursive;
  background-color: #9332fd;
}

.sign-up-form {
  width: 310px;
  height: 560px;
  box-shadow: 0 0 1em rgb(109, 25, 217);
  background: white;
  padding: 20px;
  margin: 7% auto 0;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 10px;
}

input,
button {
  border: none;
  outline: none;
  /* background: none; */
  font-family: "Lobster", cursive;
}
.img {
  width: 21px;
  margin-right: 10px;
}

.inputs-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input-boxs {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  outline: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0 18px 0;
  color: black;
  font-size: 1.5rem;
  box-shadow: 0 0 1em rgb(109, 25, 217);
  width: fit-content;
}

.input-boxs::placeholder {
  color: rgb(68, 66, 66);
}

.signup-btn {
  background-image: linear-gradient(
    to right,
    #6a3093 0%,
    #a044ff 51%,
    #6a3093 100%
  );
}

.signup-btn {
  margin-left: 30px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 150% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.signup-btn:hover {
  background-position: right center; /* change the direction of the change here*/
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.google {
  background-color: #4cc9f0;
  padding: 0.75rem;
  flex-direction: column;
  border-radius: 1.2rem;
  margin: 0.5rem;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}
.google:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.link {
  color: #9332fd;
}

.link:hover {
  color: red;
}
